<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Transfer</title>
</head>
<body>
    <h5>Unsafe App - FastAPI</h5>
    <hr>
    <h2>Create a new Transfer</h2>
    <form action="/transfers/" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br>

        <label for="account_number">Account Number:</label><br>
        <input type="text" id="account_number" name="account_number" required><br>

        <label for="amount">Amount:</label><br>
        <input type="text" id="amount" name="amount" required><br>

        <label for="reciever_info">Reciever Info:</label><br>
        <textarea type="text" id="reciever_info" name="reciever_info" required></textarea><br>

        <label for="date">Date:</label><br>
        <input type="date" id="date" name="date" required><br>
        <h3></h3>
        <button type="submit">Submit</button>
    </form>
    <h3></h3>
    <a href="/users/user-info">Go back to User Info</a>
</body>
</html>
