<!DOCTYPE html>
<head>
  <style>
  </style>
</head>
<body>
    <div class="header">
      <a href="#default" class="logo">Django - Safe App</a>
      <div class="header-right">
        <a class="active" href="#home">Home</a>
      </div>
    </div>
    <form method="post">
      <div>Login</div>
      <div>
          <input type="text" name="email" id="email" placeholder="E-mail">
      </div>
      <div>
          <input type="text" name="password" id="password" placeholder="Password">
      </div>
      <div>
          <button type="submit">Login</button>
      </div>
      <div>
          <a href="/forget-password">Forget password?</a>
      </div>
    </form>
  </body>
</html>
