<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info</title>
</head>
<style>
    table, th, td {
      border:2px solid black;
    }
</style>
<body>
    <a href='/auth/logout'>Logout</a>
    <h1> User Info </h1>
    <table>
        <tr>
            <td>ID</td>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <td>Username</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{ user.last_name }}</td>
        </tr>
        <tr>
            <td>PESEL</td>
            <td>97123499510</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>774652012</td>
        </tr>
    </table>

    <h2>Transfers made by User
        <b style="color: blue;">{{user.username}}</b>
    </h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Account Number</th>
            <th>Amount</th>
            <th>Reciever Info</th>
            <th>Date of the Transfer</th>
        </tr>
        {% for transfer in transfers %}
        <tr>
            <td>{{ transfer.title }}</td>
            <td>{{ transfer.account_number }}</td>
            <td>{{ transfer.amount }}</td>
            <td>{{ transfer.reciever_info }}</td>
            <td>{{ transfer.date }}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>Create a new Transfer</h3>
    <a href="/transfer/create-transfer">Click here</a>

    <h2>
        Officials made by User
        <b style="color: blue;">{{user.username}}</b>
    </h2>
    <table>
        <tr>
            <th>Description</th>
            <th>Date of the Official</th>
        </tr>
        {% for official in officials %}
        <tr>
            <td>{{ official.description }}</td>
            <td>{{ official.date }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>Create a new Official</h3>
    <a href="/official/create-official">Click here</a>
</body>
</html>
